*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    background-color: #FCE5CD;
}

/* VS Computer Page Quit */
.computerGameQuit {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.computerGameQuit button {
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}

.computerGameQuit button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.computerGameQuit button:active {
    background-color: lightgray;
}

/* Start Menu */
.startMenu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCE5CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startMenuTitle {
    font-size: 2em;
}

.logoContainer {
    padding: 25px;
}

.startMenu-options {
    display: flex;
    gap: 1rem;
}
.startMenu-options button {
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}
.startMenu-options button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.startMenu-options button:active {
    background-color: lightgray;
}

/*vs player form*/
.formContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCE5CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer form input {
    border-radius: 0.25em;
    background-image: none;
    border: 0;
    color: black;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 16px;
    padding-left: 0.5em;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-bottom: black solid 2px;
}

.linkButton {
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;}

.linkButton:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.linkButton:active {
    background-color: lightgray;
}

.viewLeaderboard {
    margin-top: 25px;
}

.viewLeaderboard button {
    background-color: darkgray;
    padding: 1rem 4rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}
.viewLeaderboard button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.viewLeaderboard button:active {
    background-color: lightgray;
}

.generatedLinkContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCE5CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generatedLinkContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generatedLink {
    border-radius: 0.25em;
    background-image: none;
    border: 0;
    color: black;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 16px;
    padding-left: 0.5em;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-bottom: black solid 2px;
}

.linkCopyButton {
    background-color: darkgray;
    margin-right: 16px;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;}

.linkCopyButton:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.linkCopyButton:active {
    background-color: lightgray;
}

.emailButton {
    margin-left: 2px;
    margin-right: 2px;    
}

.emailButton:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
}

.facebookButton {
    margin-left: 2px;
    margin-right: 2px;    
}

.facebookButton:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
}

.twitterButton {
    margin-left: 2px;
    margin-right: 2px;    
}

.twitterButton:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
}

/*game*/

.App div h1 {
    display: flex;
    justify-content:left;
    padding:16px;
}
.gallowsContainer {
    display: flex;
    justify-content: center;
}

.gallowsContainer img {
    margin-right: 250px;
}

.hintButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.hintButton button {
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}

.hintButton button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.hintButton button:active {
    background-color: lightgray;
}

/*keyboard*/
.keyboardContainer {
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: black solid 2px;
    border-radius: 25px;
    background-color: white;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: .5em;
}

.keyboardContainer button {
    width: 100%;
    background-color: darkgray;
    aspect-ratio: 1/1;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}

.keyboardContainer button.inactive {
opacity: .25;
}

.keyboardContainer button:hover:not(:disabled) {
    background-color: grey;
    border: black solid 2px;   
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}

.keyboardContainer button:focus:not(:disabled) {
    background-color: lightgrey;
}

/* Game Word */
.gameWordContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 275px;
}

.gameWord-character {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-bottom: 2px solid black;
}

/* Winner/Loser Screens */
.winnerScreenContainer, .loserScreenContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlayContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #FCE5CD;
    padding: 3rem;
}
.winnerButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.winnerButtons button {
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}

.winnerButtons button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.winnerButtons button:active {
    background-color: lightgray;
}

.gameOverForm {
    display: flex;
}
.gameOverForm input {
    border-radius: 0.25em;
    background-image: none;
    border: 0;
    color: black;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 16px;
    padding-left: 0.5em;
    border: black solid 2px;
}
.gameOverForm button {
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}

.gameOverForm button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.gameOverForm button:active {
    background-color: lightgray;
}

.mainMenuButton {
    margin-top: 64px;
    background-color: darkgray;
    padding: 1rem;
    font-size: x-large;
    border-radius: 0.5rem;
    border: black solid 2px;
}

.mainMenuButton:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: transform 0.3s ease 0s;
    box-shadow: 0px 5px 5px black;
}
.mainMenuButton:active {
    background-color: lightgray;
}

.leaderboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreDisplay {
    width: 25%;
    padding: 25px;
    border: black solid 2px;
    border-radius: 5%;
    background-color: white;
}

.scoreTitles {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black solid 2px;
}

.individualScore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black solid 2px;
    margin-top: 12px;
    padding-top: 12px;
}

.individualScore p span {
font-weight: bold;
}